*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'regofont';
	src: url(../assets/regofont.ttf) format('truetype');
}
@font-face {
	font-family: 'morrissans';
	src: url(../assets/morrissans.ttf) format('truetype');
}
@font-face {
	font-family: 'serioucity';
	src: url(../assets/serioucity.ttf) format('truetype');
}
@font-face {
	font-family: 'herticalserif';
	src: url(../assets/herticalserif.otf) format('opentype');
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px.... 10/16px = 62.5%
	overflow-x: hidden;

	// @media only screen and (max-width: $bp-large) {
	// 	font-size: 50%;
	// }
}
@media screen and (max-width: 600px) {
	html {
		font-size: 50%;
	}
}
body {
	font-family: Arial, Helvetica, sans-serif, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	background-image: linear-gradient(112.96deg, #ffec9f 10.11%, #c9a4db 88.12%);
	display: grid;
	grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
	grid-template-rows: 6rem auto auto;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	grid-column: 2 / 3;
	backdrop-filter: blur(200px);
	-webkit-backdrop-filter: blur(200px);
	border-radius: 15px;
	border: 1px solid rgba(100, 100, 100, 0.247);
	position: relative;
	box-shadow: var(--drop-shadow-lg);
	z-index: 2;
}
.page__header {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	border: 1px solid rgba(100, 100, 100, 0.247);
	padding: 1rem;
	grid-column: 2 / 3;
	line-height: 1.2;
	border-radius: 20px;
	// background-image: var(--gradient-color-primary);
	backdrop-filter: blur(200px);
	-webkit-backdrop-filter: blur(600px);
	box-shadow: var(--drop-shadow-lg);
	z-index: 1;
}
