:root {
	// doc color
	--text-color-primary: #494949;
	--text-color-secondary: #ff8383;
	--bg-color-light: #f2f2f2;
	--bg-color-dark: #494949;
	--bg-color-mid: #d0d0d0;
	--bg-color-act: #ff8383;
	--bg-color-on: #9fff92;

	// artboard vars
	--art-accent-clr: #fff;
	--art-background-clr: #000;

	// gradient
	--gradient-color-primary: linear-gradient(
		94.57deg,
		#d9d9d9 33.34%,
		#e6e6e6 50.04%,
		#c2c0c0 65.67%
	);

	// FONTS
	--art-font: 'regofont';

	// BTN SIZES
	--btn-lg: 8rem;
	--btn-md: 6rem;
	--btn-sm: 4rem;

	// drop shadow
	--drop-shadow-lg: 0px 100px 80px rgba(0, 0, 0, 0.07),
		0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
		0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
		0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
		0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
	--drop-shadow-sm: 0px 0px 10px rgba(0, 0, 0, 0.1);
	--drop-shadow-sm-1: 5px 10px 10px rgba(0, 0, 0, 0.3);
	--drop-shadow-sm-2: 2px 2px 5px rgba(0, 0, 0, 0.3);
	--drop-shadow-md: 0px 100px 80px rgba(0, 0, 0, 0.0196802),
		0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0282725),
		0px 22.3363px 17.869px rgba(0, 0, 0, 0.035),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0417275),
		0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0503198),
		0px 2.76726px 2.21381px rgba(0, 0, 0, 0.07);

	// text color picker
	--text-color-black: #000;
	--text-color-white: #fff;
	--text-color-red: #ff0000;
	--text-color-green: #00ff00;
	--text-color-blue: #0000ff;
	--text-color-yellow: #ffff00;
	--text-color-pink: #ff00ff;

	// bg color picker
	--bg-color-black: #000;
	--bg-color-white: #fff;
	--bg-color-red: #ff0000;
	--bg-color-green: #00ff00;
	--bg-color-blue: #0000ff;
	--bg-color-yellow: #ffff00;
	--bg-color-pink: #ff00ff;
}
